/* --------------contacto------------ */
.contacto {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.input .textarea {
    width: 100%;
    padding: 12px;
    font-size: var(--font-size);
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
}