header {
    display: flex;
    background-color: var(--main-color);
    color: var(--second-color);
    position: sticky;
    top: 0;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

nav {
    height: var(--nav-height);
}

.nav-contenedor {
    display: flex;
    align-items: center;
}

.enlaces {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    margin: 20px;
}

.enlaces:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}
