.principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.vh-100 {
    height: calc(100vh - var(--nav-height));
}



.titulo {
    font-size: 2.5rem;
    font-weight: 700;
}

.copy {
    margin: 20px 0;
    font-weight: 300;
    font-size: 1.2rem;
}

.cta {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    font-weight: 700;
    padding: 16px 30px;
    border-radius: 30px;
}

.cta__negro {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    padding: 16px 30px;
    border-radius: 30px;
}
