/* -----------------media-queries-------------- */

@media (max-width:800px){
    .principal{
        flex-direction:column;
    }
    
    .ilustracion{
        order: 1;
    }
    .contenedor-textos{
        order: 2;
      
}

.nosotros{
    flex-direction: column;
}

}